[user]
	name = Fabio M. Costa
	email = fabiomcosta@gmail.com
[color]
	ui = always
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[core]
	editor = nvim
[push]
	default = simple
<% if (isMacos) { %>
[credential]
	helper = osxkeychain
<% } %>
