[user]
	name = Fabio M. Costa
	email = fabiomcosta@gmail.com
[color]
	ui = always
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[core]
	editor = nvim
	pager = delta
[push]
	default = simple
[credential]
	helper = store
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
