;; Implementation of this keyboard layout
;; http://www.keyboard-layout-editor.com/#/gists/5ddb4214a2999a9ba0b298dbecbd0685

;; !  | means mandatory -   modifier(s) alone when pressed change behavior
;; #  | means optional  -   modifiers are optional (but at least one necessary)

;; :!Ca is keycode :a and prefix a with !C

;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift

;; ## | optional any
;; !! | command + control + optional + shift (hyper)

{
  :profiles  {
    :Goku {
      :default true
      :sim 210    ; Keys need to be pressed within this threshold to be considered simultaneous
      :delay 210  ; Time after which the key press is delayed
      :held 210   ; Delay to register held key
      :alone 210  ; Hold for .. ms to register single tap
    }
  }

  :devices {
    :macbook_internal [{:vendor_id 1452  :product_id 832}]
    :kadv2            [{:vendor_id 10730 :product_id 258}]
  }

  :applications {
    :chrome ["^com\\.google\\.Chrome$"]
    :outlook ["^com\\.microsoft\\.Outlook$"]
    :workplace_chat ["^workplace-desktop$"]
    :terminal ["^io\\.alacritty$"]
  }

  :templates {
    :hsl "/usr/local/bin/hs -A -n -q -t 0.1 -c 'require(\"keyboard.hyper\").openApplication(\"%s\")'"
    :external_display_brightness_increment "/usr/local/bin/ddcctl -i 16 -d 1 -b 20+"
    :external_display_brightness_decrement "/usr/local/bin/ddcctl -i 16 -d 1 -b 20-"
  }

  ; :simlayer-threshold 210
  :simlayers {
    :open_mode {:key :o}
    :symbols_mode {:key :s}
    :media_mode {:key :m}
    :fn_mode {:key :f}
    :mouse_mode {:key :a :afterup {:set ["mouse_mode_scroll" 0]}}
  }

  ;; each manipulator has a description and multiple rules

  ;;{:des "..."                                       ;; -> description
  ;; :rules[
  ;;          [<from>  <to>  <conditions>]            ;; -> rule 1
  ;;          [<from>  <to>  <conditions>]            ;; -> rule 2
  ;; ]}

  ;; rule [:period ["period-mode" 1] nil {:afterup ["period-mode" 0] :alone :period}]
  ;;       |_____| |_______________| |_| |_________________________________________|
  ;;        <from>    <to>      <conditions>         <other options>

  :main [
    ; https://github.com/yqrashawn/yqdotfiles/blob/3a7523183adca37c6f37e7810c8555ea1785fa51/.config/karabiner.edn#L553-L567
    {:des "mouse keys mode"
      :rules [
        [:##j {:mkey {:vwheel 32}} [:mouse_mode_scroll :mouse_mode]]
        [:##h {:mkey {:hwheel 32}} [:mouse_mode_scroll :mouse_mode]]
        [:##k {:mkey {:vwheel -32}} [:mouse_mode_scroll :mouse_mode]]
        [:##l {:mkey {:hwheel -32}} [:mouse_mode_scroll :mouse_mode]]
        :mouse_mode
        [:##j {:mkey {:y 3072}}]
        [:##k {:mkey {:y -3072}}]
        [:##h {:mkey {:x -3072}}]
        [:##l {:mkey {:x 3072}}]
        [:##v {:pkey :button1}]
        [:##b {:pkey :button3}]
        [:##n {:pkey :button2}]
        [:##s ["mouse_mode_scroll" 1] nil {:afterup ["mouse_mode_scroll" 0]}]
        [:##f {:mkey {:speed 0.5}}]
    ]}

    ;; Navigation Mode, based on (S)uper (D)uper mode
    ;; idea from https://github.com/jasonrudolph/keyboard
    ;; implementation from https://gist.github.com/narze/1eb7d0f14b6177ea0360f5dc214867b0

    ;; I'd consider this a new type of layer, it's different from
    ;; simlayers and layers, let me try to explain.
    ;;
    ;; This new type of layer is very similar to what's called "layer" on goku,
    ;; in the sense that when holding the key that defines the layer, the key
    ;; itself won't be triggered nor repea will, but it fixes the issue that
    ;; woudln't allow fast typing using that key by adding these simultaneous
    ;; interrupt events on each other key that can be simultaneously pressed
    ;; with the layer key.
    ;; This means that the layer is only really activated if the layer key is
    ;; pressed adn held for a little while, and not used simultaneously with
    ;; other keys.
    ;; This is perfect for home row modifier configurations, for example.
    {:des "navigation mode, fluid typing protection"
      :rules [
        [{:sim [:d :q] :simo {:interrupt true :dorder :strict}} [:d :q]]
        [{:sim [:d :w] :simo {:interrupt true :dorder :strict}} [:d :w]]
        [{:sim [:d :r] :simo {:interrupt true :dorder :strict}} [:d :r]]
        [{:sim [:d :t] :simo {:interrupt true :dorder :strict}} [:d :t]]
        [{:sim [:d :a] :simo {:interrupt true :dorder :strict}} [:d :a]]
        [{:sim [:d :s] :simo {:interrupt true :dorder :strict}} [:d :s]]
        [{:sim [:d :f] :simo {:interrupt true :dorder :strict}} [:d :f]]
        [{:sim [:d :g] :simo {:interrupt true :dorder :strict}} [:d :g]]
        [{:sim [:d :z] :simo {:interrupt true :dorder :strict}} [:d :z]]
        [{:sim [:d :x] :simo {:interrupt true :dorder :strict}} [:d :x]]
        [{:sim [:d :v] :simo {:interrupt true :dorder :strict}} [:d :v]]
        [{:sim [:d :b] :simo {:interrupt true :dorder :strict}} [:d :b]]
        [{:sim [:d :y] :simo {:interrupt true :dorder :strict}} [:d :y]]
        [{:sim [:d :u] :simo {:interrupt true :dorder :strict}} [:d :u]]
        [{:sim [:d :i] :simo {:interrupt true :dorder :strict}} [:d :i]]
        [{:sim [:d :o] :simo {:interrupt true :dorder :strict}} [:d :o]]
        [{:sim [:d :p] :simo {:interrupt true :dorder :strict}} [:d :p]]
        [{:sim [:d :n] :simo {:interrupt true :dorder :strict}} [:d :n]]
        [{:sim [:d :m] :simo {:interrupt true :dorder :strict}} [:d :m]]
        [{:sim [:d :comma] :simo {:interrupt true :dorder :strict}} [:d :comma]]
        [{:sim [:d :slash] :simo {:interrupt true :dorder :strict}} [:d :slash]]
        [{:sim [:d :quote] :simo {:interrupt true :dorder :strict}} [:d :quote]]
        [{:sim [:d :period] :simo {:interrupt true :dorder :strict}} [:d :period]]
        [{:sim [:d :hyphen] :simo {:interrupt true :dorder :strict}} [:d :hyphen]]
        [{:sim [:d :spacebar] :simo {:interrupt true :dorder :strict}} [:d :spacebar]]
        [{:sim [:d :semicolon] :simo {:interrupt true :dorder :strict}} [:d :semicolon]]
        [{:sim [:d :backslash] :simo {:interrupt true :dorder :strict}} [:d :backslash]]
        [{:sim [:d :equal_sign] :simo {:interrupt true :dorder :strict}} [:d :equal_sign]]
        [{:sim [:d :return_or_enter] :simo {:interrupt true :dorder :strict}} [:d :return_or_enter]]
        [{:sim [:d :delete_or_backspace] :simo {:interrupt true :dorder :strict}} [:d :delete_or_backspace]]
        ; These keys are also for the same finger as the "d" finger, so they
        ; are unlikely to be pressed at the same time. Minor nit.
        ; [{:sim [:d :e] :simo {:interrupt true :dorder :strict}} [:d :e]]
        ; [{:sim [:d :d] :simo {:interrupt true :dorder :strict}} [:d :d]]
        ; [{:sim [:d :c] :simo {:interrupt true :dorder :strict}} [:d :c]]

        ; When intending to activate navigation mode, j and k are frequently the
        ; first keys I'll press along with that, so there are higher changes
        ; that I actually want to activate navigation mode in that case.
        ; [{:sim [:d :h] :simo {:interrupt true :dorder :strict}} [:d :h]]
        ; [{:sim [:d :j] :simo {:interrupt true :dorder :strict}} [:d :j]]
        ; [{:sim [:d :k] :simo {:interrupt true :dorder :strict}} [:d :k]]
        ; [{:sim [:d :l] :simo {:interrupt true :dorder :strict}} [:d :l]]
    ]}
    {:des "toggle navigation mode"
      :rules [
        [:d ["navigation_mode" 1] nil {:alone :d :afterup ["navigation_mode" 0]}]
    ]}
    {:des "navigation mode (outlook)"
      :rules [:navigation_mode
        [:##i :!Topen_bracket :outlook]
        [:##o :!Tclose_bracket :outlook]
    ]}
    {:des "navigation mode (workplace chat)"
      :rules [:navigation_mode
        [:##i :!Copen_bracket :workplace_chat]
        [:##o :!Cclose_bracket :workplace_chat]
    ]}
    {:des "navigation mode (terminal)"
      :rules [:navigation_mode
        [:##i [:!Ta :p] :terminal]
        [:##o [:!Ta :n] :terminal]
    ]}
    {:des "navigation mode (all)"
      :rules [:navigation_mode
        ; arrow keys vim style
        [:##j :down_arrow]
        [:##k :up_arrow]
        ; vim's command mode doesn't work well with option+arrow keys
        [:##h :left_arrow :!terminal {:held :!Oleft_arrow}]
        [:##l :right_arrow :!terminal {:held :!Oright_arrow}]
        [:##h :left_arrow :terminal]
        [:##l :right_arrow :terminal]
        ; modifiers
        [:##f :right_shift]
        [:##a :left_command]
        ; cut/copy/paste
        [:##r :!Cc]
        [:##v :!Cv]
        [:##g :!Cx]
        ; tab navigation mostly on browsers
        [:##i :!CSopen_bracket]
        [:##o :!CSclose_bracket]
        ; new tab
        [:##u :!Ct]
        ; close tab
        [:##m :!Cw]
    ]}

    {:des "open mode"
      :rules [:open_mode
        [:a [:hsl "Spotify"]]
        [:b [:hsl "Google Chrome"]]
        [:c [:hsl "Workplace Chat"]]
        [:e [:hsl "VS Code @ FB"]]
        [:f [:hsl "Finder"]]
        [:m [:hsl "Microsoft Outlook"]]
        [:t [:hsl "Alacritty"]]
        [:n [:hsl "Notion"]]
    ]}

    {:des "numbers mode"
      :rules [:numbers_mode
        [:##q :1]
        [:##w :2]
        [:##e :3]
        [:##r :4]
        [:##t :5]
        [:##y :6]
        [:##u :7]
        [:##i :8]
        [:##o :9]
        [:##p :0]
    ]}

    {:des "symbols mode"
      :rules [:symbols_mode
        [:##y :!Sgrave_accent_and_tilde] ; ~
        [:##h :grave_accent_and_tilde]   ; `
        [:##u :!Sopen_bracket]           ; {
        [:##i :!Sclose_bracket]          ; }
        [:##j :!S9]                      ; (
        [:##k :!S0]                      ; )
        [:##m :open_bracket]             ; [
        [:##comma :close_bracket]        ; ]
        [:##o :!S1]                      ; !
        [:##p :!S2]                      ; @
        [:##l :!S3]                      ; #
        [:##semicolon :!S8]              ; *
        [:##period :!S6]                 ; ^
        [:##slash :!S4]                  ; $
        [:##n :!S7]                      ; &
        [:##quote :!S5]                  ; %
    ]}

    {:des "media mode"
      :rules [:media_mode
        [:q :display_brightness_decrement]
        [:w :display_brightness_increment]
        [:e [:external_display_brightness_decrement]]
        [:r [:external_display_brightness_increment]]
        ; [:e :illumination_decrement]
        ; [:r :illumination_increment]
        [:a :mission_control]
        [:s :rewind]
        [:d :play_or_pause]
        [:f :fastforward]
        [:x :mute]
        [:c :volume_decrement]
        [:v :volume_increment]
    ]}

    {:des "fn mode"
      :rules [:fn_mode
        [:##q :f1]
        [:##w :f2]
        [:##e :f3]
        [:##r :f4]
        [:##t :f5]
        [:##y :f6]
        [:##u :f7]
        [:##i :f8]
        [:##o :f9]
        [:##p :f10]
        [:##l :f11]
        [:##semicolon :f12]
        [:##a :!SC4] ; activates screen-shot mode
        [:##s :!SC5] ; activates screen-recording mode
    ]}

    {:des "apple keyboards"
      :rules [:macbook_internal
        ;; Disable arrow keys
        [:##left_arrow :vk_none]
        [:##right_arrow :vk_none]
        [:##up_arrow :vk_none]
        [:##down_arrow :vk_none]
    ]}

    {:des "kinesis advantage"
      :rules [:kadv2
        ;; Disable arrow keys
        [:##left_arrow :vk_none]
        [:##right_arrow :vk_none]
        [:##up_arrow :vk_none]
        [:##down_arrow :vk_none]
        ;; Disable some thumb cluster keys
        [:##right_option :vk_none]
        [:##left_option :vk_none]
        [:##page_up :vk_none]
        [:##home :vk_none]
        [:##end :vk_none]
        [:##page_down :vk_none]
        ;; Disable some base layour keys
        [:##non_us_backslash :vk_none]
        [:##grave_accent_and_tilde :vk_none]
        [:##open_bracket :vk_none]
        [:##close_bracket :vk_none]
        ;; Disable number row
        [:##hyphen :vk_none]
        [:##equal_sign :vk_none]
        [:##1 :vk_none]
        [:##2 :vk_none]
        [:##3 :vk_none]
        [:##4 :vk_none]
        [:##5 :vk_none]
        [:##6 :vk_none]
        [:##7 :vk_none]
        [:##8 :vk_none]
        [:##9 :vk_none]
        [:##0 :vk_none]

        ;; "tab: hold -> left_option"
        [:##tab :left_option nil {:alone :tab}]
        ;; "backslash: hold -> right_option"
        [:##backslash :right_option nil {:alone :backslash}]
        ;; "enter: alone -> return_or_enter, hold -> right_control"
        [:##return_or_enter :right_control nil {:alone :return_or_enter}]
        ;; "left_shift: alone -> equal_sign"
        [:##left_shift :left_shift nil {:alone :equal_sign}]
        ;; "right_shift: alone -> hyphen"
        [:##right_shift :right_shift nil {:alone :hyphen}]

        [:##delete_forward ["numbers_mode" 1] nil {:afterup ["numbers_mode" 0]}]
    ]}

    {:des "any device"
      :rules [
        ;; caps_lock: alone -> escape, hold -> left_control
        [:##caps_lock :left_control nil {:alone :escape}]
    ]}
  ]
}
