[Unit]
Description=Run actions on boot
After=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target
# We need dns and to be online in order to run this service
Wants=network-online.target nss-lookup.target
After=network-online.target nss-lookup.target

[Service]
Type=oneshot
Environment="PATH=/home/linuxbrew/.linuxbrew/bin/"
ExecStart=-/usr/local/bin/onboot.js

[Install]
# Trigger on a normal cold boot
WantedBy=multi-user.target
# Trigger upon waking from all possible sleep/hibernation states
WantedBy=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target
