[Unit]
Description=Run actions on boot
Requires=NetworkManager.service
After=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target NetworkManager.service

[Service]
Type=oneshot
Environment="PATH=/home/linuxbrew/.linuxbrew/bin/"
ExecStart=-/usr/local/bin/onboot.js

[Install]
WantedBy=multi-user.target suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target
