[Unit]
Description=Run actions on power off and sleep
Before=systemd-suspend.service systemd-hibernate.service systemd-hybrid-sleep.service systemd-suspend-then-hibernate.service systemd-poweroff.service systemd-halt.service systemd-reboot.service

[Service]
Type=oneshot
Environment="PATH=/home/linuxbrew/.linuxbrew/bin/"
ExecStart=-/usr/local/bin/onpoweroff.js

[Install]
WantedBy=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target poweroff.target halt.target reboot.target
