[Unit]
Description=Enable USB devices to wake the machine up.
After=multi-user.target

[Service]
Type=oneshot
Environment="PATH=/home/linuxbrew/.linuxbrew/bin/"
ExecStart=-/usr/local/bin/usb-wakeup-enable.js

[Install]
WantedBy=multi-user.target
